<%= erb :banner %>

<head>
  <title>Weather Dashboard</title>
</head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/conditions">Conditions</a></li>
  <li>Weather Dashboard</li>
</ul>

<body>
  <div class="weather-banner">
    <h1 class="dashboard-header">Dashboard Summary</h1>
    <div class="weather-widget">

    <a href="https://www.accuweather.com/en/us/san-francisco-ca/94103/weather-forecast/347629" class="aw-widget-legal">
  <!--
  By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
  -->
  </a><div id="awcc1512583087360" class="aw-widget-current"  data-locationkey="347629" data-unit="f" data-language="en-us" data-useip="false" data-uid="awcc1512583087360"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
  </div>
  </div>
  <div class="dashboard">
    <div class="dash-weather-box">
      Ride Breakdown by Temperature
      <div class="dash-chart">
        <%= column_chart @ride_by_temp[:graph], colors: ["#145187"], xtitle: "Temperature", ytitle: "Rides Taken", width: "500px", height: "150px",  library: {backgroundColor: "transparent", fontSize: "24px"} %>
      </div>
      <div >
        <table class="dash-table">
          <tr>
            <th>Temperature </br>Range (F)</th>
            <th>Days In </br>Range</th>
            <th> Minimum </br>Rides</th>
            <th> Average </br>Rides</th>
            <th> Maximum </br>Rides</th>
          </tr>
          <% @ride_by_temp[:table].each do |range, rides, min, avg, max| %>
            <tr>
              <td> <%= range %> </td>
              <td> <%= rides %> </td>
              <td> <%= min %> </td>
              <td> <%= avg %> </td>
              <td> <%= max %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="dash-weather-box">
      Ride Breakdown by Wind Speed
      <div class="dash-chart">
        <%= column_chart @ride_by_wind[:graph], colors: ["#145187"], xtitle: "Wind Speed", ytitle: "Rides Taken", width: "500px", height: "150px",  library: {backgroundColor: "transparent", fontSize: "24px"} %>
      </div>
      <div >
        <table class="dash-table">
          <tr>
            <th>Wind Speed </br>Range (mph)</th>
            <th>Days In </br>Range</th>
            <th> Minimum </br>Rides</th>
            <th> Average </br>Rides</th>
            <th> Maximum </br>Rides</th>
          </tr>
          <% @ride_by_wind[:table].each do |range, rides, min, avg, max| %>
            <tr>
              <td> <%= range %> </td>
              <td> <%= rides %> </td>
              <td> <%= min %> </td>
              <td> <%= avg %> </td>
              <td> <%= max %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="dash-weather-box">
      Ride Breakdown by Precipitation
      <div class="dash-chart">
        <%= column_chart @ride_by_precip[:graph], colors: ["#145187"], xtitle: "Precipitation", ytitle: "Rides Taken", width: "500px", height: "150px",  library: {backgroundColor: "transparent", fontSize: "24px"} %>
      </div>
      <div>
        <table class="dash-table">
          <tr>
            <th>Precipitation </br>Range (inches)</th>
            <th>Days In </br>Range</th>
            <th> Minimum </br>Rides</th>
            <th> Average </br>Rides</th>
            <th> Maximum </br>Rides</th>
          </tr>
          <% @ride_by_precip[:table].each do |range, rides, min, avg, max| %>
            <tr>
              <td> <%= range %> </td>
              <td> <%= rides %> </td>
              <td> <%= min %> </td>
              <td> <%= avg %> </td>
              <td> <%= max %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="dash-weather-box">
      Ride Breakdown by Visibility
      <div class="dash-chart">
        <%= column_chart @ride_by_vis[:graph], colors: ["#145187"], xtitle: "Visibility", ytitle: "Rides Taken", width: "500px", height: "150px",  library: {backgroundColor: "transparent", fontSize: "24px"} %>
      </div>
      <div >
        <table class="dash-table">
          <tr>
            <th>Visibility </br>Range (mile)</th>
            <th>Days In </br>Range</th>
            <th> Minimum </br>Rides</th>
            <th> Average </br>Rides</th>
            <th> Maximum </br>Rides</th>
          </tr>
          <% @ride_by_vis[:table].each do |range, rides, min, avg, max| %>
            <tr>
              <td> <%= range %> </td>
              <td> <%= rides %> </td>
              <td> <%= min %> </td>
              <td> <%= avg %> </td>
              <td> <%= max %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</body>
