<%= erb :banner %>

<head>
  <title>All Conditions</title>
</head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>Conditions</li>
</ul>

<a class="button" href="/conditions/new">New Weather Condition</a>

<main class="flex-parent">
<% @conditions.each do |condition| %>
  <ul>
    <section class = "display_object">
    <li class><a href="/conditions/<%= condition.id %>">Conditions on <%= condition.date %></a></li>
    <li>Max Temperature (F): <%= condition.max_temperature_f %> </li>
    <li>Mean Temperature (F): <%= condition.mean_temperature_f %> </li>
    <li>Min Temperature (F): <%= condition.min_temperature_f %>  </li>
    <li>Mean Humidity: <%= condition.mean_humidity %> </li>
    <li>Mean Visibility (mile): <%= condition.mean_visibility_miles %> </li>
    <li>Mean Wind Speed (mph): <%= condition.mean_wind_speed_mph %> </li>
    <li>Mean Precipitation (inches): <%= condition.precipitation_inches %> </li>
  </section>
  </ul>
<% end %>
</main>

<center class="paginate">
  <% if @paginate.present? && @paginate != "1" %>
    <a href="/conditions?page=<%= @pagdown %>"><<</a>
    <%= @paginate %>
    <a href="/conditions?page=<%= @paginate.next %>">>></a>
  <% else %>
    <a href="/conditions?page=2">>></a>
  <% end %>
</center>
