<%= erb :banner %>

<head>
  <title>Conditions on <%= @condition.date %></title>
</head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/conditions">Conditions</a></li>
  <li><%= @condition.id %></li>
</ul>

<body class="station-main">
  <div class="header">
    <h1 class="header-text">Weather on <%= @condition.date %></h1>
  </div>
  <div class=station-show>
    <section class="left-show">
      <div class="show-data">
        <ul class="data">
          <ul>
          <li>Condition ID: <%= @condition.id %></li>
          <li>Date: <%= @condition.date %></li>
          <li>Max Temperature (F): <%= @condition.max_temperature_f %> </li>
          <li>Mean Temperature (F): <%= @condition.mean_temperature_f %> </li>
          <li>Min Temperature (F): <%= @condition.min_temperature_f %> </li>
          <li>Mean Humidity: <%= @condition.mean_humidity %> </li>
          <li>Mean Visibility (Miles): <%= @condition.mean_visibility_miles %> miles </li>
          <li>Mean Wind Speed (MPH): <%= @condition.mean_wind_speed_mph %> mph</li>
          <li>Precipitation Inches (inches): <%= @condition.precipitation_inches %> inches</li>
          </ul>
        </ul>
      </div>
      <div class="buttons-spacing">
        <section>
          <a  class="button edit" href="/conditions/<%= @condition.id %>/edit">Edit</a>
        </section>
        <section>
          <form class="" action="/conditions/<%= @condition.id %>" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input class="button inline-btn" type="submit" name="Delete" value="Delete">
          </form>
        </section>
      </div>
    </section>
    <section class="dash-weather">
      <h1 style="color: white;">Day Summary:</h1>
      <% @weather = @condition %>
      <%= erb :weather%>
    </section>
  </div>
  <div class="footer">
    <section>
      <p>Created by: <a class="links" href="https://github.com/Maxscores">Max Stackhouse</a> | <a class="links" href="https://github.com/Ecksi">Jim Dechant</a> | <a class="links" href="https://github.com/seoulstice">Young Joon Jung</a>
    </section>
  </div>
</body>
