<%= erb :banner %>

<head>
  <title>Trip Dashboard</title>
</head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/trips">Trips</a></li>
  <li>Trip Dashboard</li>
</ul>

<body>
  <h1 class="dashboard-header">Trip Dashboard</h1>

  <section class="dash-flex">
    <ul class="dashboard-results">
      <li>Average Ride Duration: <%= @trips.average_duration %></li>
      <li>Longest Ride: <%= @trips.longest_ride %></li>
      <li>Shortest Ride: <%= @trips.shortest_ride %></li>
      <li>Most Popular Starting Station: <%= @trips.station_most_start_rides %></li>
      <li>Most Popular Destination Station: <%= @trips.station_most_end_rides %></li>
      <li>Most Popular Trip Date: <%= @trips.date_with_most_rides %> - <%= @trips.date_with_most_rides_trip_count %> trips</li>
      <li>Least Popular Trip Date: <%= @trips.date_with_least_rides %> - <%= @trips.date_with_least_rides_trip_count %> trips</li>
      <li>Most Ridden Bike ID: #<%= @trips.most_ridden_bike %> - Ride Count: <%= @trips.most_ridden_bike_ride_count %></li>
      <li>Least Ridden Bike ID: #<%= @trips.least_ridden_bike %> - Ride Count:<%= @trips.least_ridden_bike_ride_count %></li>
      <li>
        <%= bar_chart @trips.rides_by_month, xtitle: "Number of Rides", ytitle: "Month" %>
        <%= bar_chart @trips.rides_by_year, xtitle: "Number of Rides", ytitle: "Year" %>
      </li>
      <table>
        <tr>
          <th>Year</th> <th>Month</th> <th>Rides</th>
        </tr>
        <% Trip.rides_by_month.each do |date, count|%>
        <tr>
          <td><%= date.year %></td>
          <td><%= date.month %></td>
          <td><%= count %></td>
        </tr>
        <% end %>
      </table>
      <table>
        <tr>
          <th>Year</th> <th>Rides</th>
        </tr>
        <% Trip.rides_by_year.each do |date, count|%>
        <tr>
          <td><%= date.year %></td>
          <td><%= count %></td>
        </tr>
        <% end %>
      </table>
      <table>
        <tr>
          <th>Rider Type</th> <th># of Accounts</th> <th> % </th>
        </tr>
        <% @trips.count_by_subscription_type.each do |key, value|%>
        <tr>
          <td><%= key %></td>
          <td><%= value%></td>
          <td><%= (100.0 * value/Trip.count) %></td>
        </tr>
        <% end %>
      </table>
    </ul>
    <ul>
      <h3 class="dashboard-header">Weather on most Popular Trip Date (<%= @trips.weather_on_date_most_rides.date %>)</h3>
      <li>Max Temperature: <%=  @trips.weather_on_date_most_rides.max_temperature_f %> degrees</li>
      <li>Mean Temperature: <%= @trips.weather_on_date_most_rides.mean_temperature_f %> degrees</li>
      <li>Min Temperature: <%= @trips.weather_on_date_most_rides.min_temperature_f %> degrees</li>
      <li>Mean Humidity: <%= @trips.weather_on_date_most_rides.mean_humidity %></li>
      <li>Mean Visibility: <%= @trips.weather_on_date_most_rides.mean_visibility_miles %> miles</li>
      <li>Mean Wind Speed: <%= @trips.weather_on_date_most_rides.mean_wind_speed_mph %> mph</li>
      <li>Precipitation: <%= @trips.weather_on_date_most_rides.precipitation_inches %> inches</li>
    </ul>
    <ul>
      <h3 class="dashboard-header">Weather on least Popular Trip Date (<%= @trips.weather_on_date_least_rides.date %>)</h3>
      <li>Max Temperature: <%=  @trips.weather_on_date_least_rides.max_temperature_f %> degrees</li>
      <li>Mean Temperature: <%= @trips.weather_on_date_least_rides.mean_temperature_f %> degrees</li>
      <li>Min Temperature: <%= @trips.weather_on_date_least_rides.min_temperature_f %> degrees</li>
      <li>Mean Humidity: <%= @trips.weather_on_date_least_rides.mean_humidity %></li>
      <li>Mean Visibility: <%= @trips.weather_on_date_least_rides.mean_visibility_miles %> miles</li>
      <li>Mean Wind Speed: <%= @trips.weather_on_date_least_rides.mean_wind_speed_mph %> mph</li>
      <li>Precipitation: <%= @trips.weather_on_date_least_rides.precipitation_inches %> inches</li>
    </ul>
  </section>
</body>
