<%= erb :banner %>

<head>
  <title>Trip Dashboard</title>
</head>

<body>
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/trips">Trips</a></li>
    <li>Trip Dashboard</li>
  </ul>

  <article class="dashboard">
    <div class="dashboard-results">
      <h1 class="dashboard-header">Dashboard Summary</h1>
      <ul>
        <li class="dashboard-category">Average Ride Duration: <li><%= @trips.average_duration %></li></li>
        <li class="dashboard-category">Longest Ride: <li> <%= @trips.longest_ride %></li>
        </li>
        <li class="dashboard-category">Shortest Ride: <li> <%= @trips.shortest_ride %></li>
        </li>
        <li class="dashboard-category">Most Popular Starting Station </li>
        <li class="dash-data"><%= @trips.station_most_start_rides.name %></li>
        <li class="dashboard-category">Most Popular Destination Station
        <li class="dash-data"><%= @trips.station_most_end_rides.name%></li>
        </li>
        <li class="dashboard-category">Most Popular Trip Date
        <li class="dash-data"><%= @trips.date_with_most_rides %> - <%= @trips.date_with_most_rides_trip_count %> trips</li>
        </li>
        <li class="dashboard-category">Least Popular Trip Date
        <li class="dash-data"> <%= @trips.date_with_least_rides %> - <%= @trips.date_with_least_rides_trip_count %> trips</li>
        </li>
        <li class="dashboard-category">
          Most Ridden Bike ID
        <li class="dash-data">
          #<%= @trips.most_ridden_bike %> - Ride Count: <%= @trips.most_ridden_bike_ride_count %></li>
        </li>
        <li class="dashboard-category">
          Least Ridden Bike ID
        <li class="dash-data">
          #<%= @trips.least_ridden_bike %> - Ride Count:<%= @trips.least_ridden_bike_ride_count %></li>
        </li>
      </ul>
    </div>
  <div class="main-chart">
      <%= area_chart @trips.rides_by_month, ytitle: "Number of Rides", colors: ["#102538"], xtitle: "Month of Year", width: "400px", height: "430px",  library: {backgroundColor: "transparent", fontStyle: "bold", fontSize: "24px"} %>
  </div>
  <div class="main-chart">
    <div class="small-chart">
      <%= column_chart @trips.group_by_day_of_week(:start_date).count, colors: ["#145187"], xtitle: "Day of Week", ytitle: "Rides Taken", width: "325px", height: "200px",  library: {backgroundColor: "transparent", fontStyle: "bold", fontSize: "24px"} %>
    </div>
    <div class="small-chart">
      <%= column_chart @trips.rides_by_year, colors: ["#36d1b4"], xtitle: "Number of Rides", ytitle: "Year", width: "325px", height: "200px",  library: {backgroundColor: "transparent", fontStyle: "bold", fontSize: "30px"} %>
    </div>
  </div>
  <div class="pie-chart">
    <%= pie_chart @trips.count_by_subscription_type, colors: ["#36d1b4", "#145187"], width: "300px", height: "250px", legend: "bottom", library: {backgroundColor: "transparent", fontStyle: "bold", fontSize: "30px"} %>
  </div>

  <div class="dash-weather">
      <h2 class="dashboard-header" style="font-size: 20px; color: rgba(54, 209, 180, 0.5);">Weather on most Popular Trip Date<br/>
      <%= @trips.weather_on_date_most_rides.date %></h2>

      <div class="dash-weather-box">

      <div class="dash-weather-entry">Humidity: <%= @trips.weather_on_date_most_rides.mean_humidity %> <br/>
      Visibility: <%= @trips.weather_on_date_most_rides.mean_visibility_miles %> miles <br/>
      Precipitation: <%= @trips.weather_on_date_most_rides.precipitation_inches %> in.<br/>
      Wind Speed: <%= @trips.weather_on_date_most_rides.mean_wind_speed_mph %> mph
      <br/>
      <br/>
      <%= @trips.weather_on_date_most_rides.min_temperature_f %> / <%= @trips.weather_on_date_most_rides.mean_temperature_f %> / <%=  @trips.weather_on_date_most_rides.max_temperature_f %> deg
      </div>
      <div class="icon sunny">
        <div class="sun">
          <div class="rays"></div>
        </div>
      </div>
  </div>
  </div>

  <div class="dash-weather">
      <h2 class="dashboard-header" style="font-size: 20px; color: rgba(54, 209, 180, 0.5);">
        Weather on least Popular Trip Date<br/>
        <%= @trips.weather_on_date_least_rides.date %>
      </h2>
      <div class="dash-weather-box">
      <div class="dash-weather-entry">Humidity: <%= @trips.weather_on_date_least_rides.mean_humidity %>  <br/>
      Visibility: <%= @trips.weather_on_date_least_rides.mean_visibility_miles %> miles <br/>
      Precipitation: <%= @trips.weather_on_date_least_rides.precipitation_inches %> in.<br/> Wind Speed: <%= @trips.weather_on_date_least_rides.mean_wind_speed_mph %> mph
      <br/>
      <%= @trips.weather_on_date_least_rides.min_temperature_f %> / <%= @trips.weather_on_date_least_rides.mean_temperature_f %> / <%=  @trips.weather_on_date_least_rides.max_temperature_f %> deg
    </div>
    <div class="dash-weather-icon">
      <div class="icon rainy">
        <div class="cloud"></div>
        <div class="rain"></div>
      </div>
    </div>
  </div>
  </div>

</article>

</body>
