<%= erb :banner %>

<head>
  <title>Trip Dashboard</title>
</head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/trips">Trips</a></li>
  <li>Trip Dashboard</li>
</ul>

<body>
  <h1 class="dashboard-header">Trip Dashboard</h1>

  <section class="dash-flex">
    <ul class="dashboard-results">
      <li>Average Ride Duration: <%= @trips.average_ride_length %></li>
      <li>Longest Ride: <%= @trips.longest_ride %></li>
      <li>Shortest Ride: <%= @trips.shortest_ride %></li>
      <li>Most Popular Starting Station: <%= @trips.station_most_start_rides %></li>
      <li>Most Popular Destination Station: <%= @trips.station_most_end_rides %></li>
      <li>Most Popular Trip Date: <%= @trips.date_with_most_rides %> - <%= @trips.date_with_most_rides_trip_count %> trips</li>

    </ul>
  </section>
</body>
