<%= erb :banner %>

<head>
  <title>Trip Dashboard</title>
</head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/trips">Trips</a></li>
  <li>Trip Dashboard</li>
</ul>

<body>
  <h1 class="dashboard-header">Trip Dashboard</h1>

  <section class="dash-flex">
    <ul class="dashboard-results">
      <li>Average Ride Duration: <%= @trips.average_duration %></li>
      <li>Longest Ride: <%= @trips.longest_ride %></li>
      <li>Shortest Ride: <%= @trips.shortest_ride %></li>
      <li>Most Popular Starting Station: <%= @trips.station_most_start_rides %></li>
      <li>Most Popular Destination Station: <%= @trips.station_most_end_rides %></li>
      <li>Most Popular Trip Date: <%= @trips.date_with_most_rides %> - <%= @trips.date_with_most_rides_trip_count %> trips</li>
      <li>Least Popular Trip Date: <%= @trips.date_with_least_rides %> - <%= @trips.date_with_least_rides_trip_count %> trips</li>
      <li>Most Ridden Bike ID: <%= @trips.most_ridden_bike %></li>
      <li>Least Ridden Bike ID: <%= @trips.least_ridden_bike %></li>

      <table>
        <tr>
          <th>Year</th> <th>Month</th> <th>Rides</th>
        </tr>
        <% Trip.rides_by_month.each do |date, count|%>
        <tr>
          <td><%= date.year %></td>
          <td><%= date.month %></td>
          <td><%= count %></td>
        </tr>
        <% end %>
      </table>
      <table>
        <tr>
          <th>Year</th> <th>Rides</th>
        </tr>
        <% Trip.rides_by_year.each do |date, count|%>
        <tr>
          <td><%= date.year %></td>
          <td><%= count %></td>
        </tr>
        <% end %>
      </table>

      <li>Rider Analysis:<br/>
      <ul>
        <% @trips.count_by_subscription_type.each do |key, value| %>
        <li>Rider Type: <%= key %></li>
        <li># of <%= key %> Accounts: <%= value %></li>
        <li>% of Total Accounts: <%= (100.0 * value/Trip.count) %>%</li><br/>
        <% end %>
      </ul>
      </li>

    </ul>
  </section>
</body>
