<%= erb :banner %>

<head>
  <title>Edit Trip</title>
</head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/trips">Trips</a></li>
  <li><a href="/trips/<%= @trip.id %>"><%= @trip.id %></a></li>
  <li>Edit Trip</li>
</ul>

<body class="trip-main">
  <div class="header">
    <h1 class="header-text">Trip #<%= @trip.id %></h1>
  </div>
  <div class="edit-form">
    <form class="edit-data" action="/trips/<%= @trip.id %>" method="post">
      <input type="hidden" name="_method" value="PUT">
      <ul>
      <li>Trip Duration: <input type="number" name="trip[duration]" value="<%= @trip.duration %>"><br/></li>
      <li>Start Date: <input type="date" name="trip[start_date]" value="<%= @trip.start_date %>"><br/></li>
      <li>Start Station Name: <input type="text" name="trip[start_station_name]" value="<%= @trip.start_station.name%>"><br/></li>
      <li>Start Station ID: <input class="new-child" type="text" name="trip[start_station_id]" value="<%= @trip.start_station_id %>"><br/></li>
      <li>End Date: <input type="date" name="trip[end_date]" value="<%= @trip.end_date %>"><br/></li>
      <li>End Station Name: <input type="text" name="trip[end_station_name]" value="<%= @trip.end_station.name %>"><br/></li>
      <li>End Station ID: <input class="new-child" type="text" name="trip[end_station_id]" value="<%= @trip.end_station_id %>"><br/></li>
      <li>Bike ID: <input type="number" name="trip[bike_id]" value="<%= @trip.bike_id %>"><br/></li>
      <li>Subscription Type: <input type="text" name="trip[subscription_type]" value="<%= @trip.subscription_type %>"><br/></li>
      <li>Zipcode: <input type="number" name="trip[zipcode]" value="<%= @trip.zipcode %>"><br/></li>
      <input class="button rounded-button" name="Update" type="submit">
      <input class="button rounded-button" type="reset">
      </ul>
    </form>
  </div>
  <div class="footer">
    <section>
      <p>Created by: <a class="links" href="https://github.com/Maxscores">Max Stackhouse</a> | <a class="links" href="https://github.com/Ecksi">Jim Dechant</a> | <a class="links" href="https://github.com/seoulstice">Young Joon Jung</a>
    </section>
  </div>
</section>
