<%= erb :banner %>
<head><title>Trip <%= @trip.id %></title></head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/trips">Trips</a></li>
  <li><%= @trip.id %></li>
</ul>

<ul>
  <section class = "trip">
    <li class = "trip_id">Trip <%= @trip.id %></li>
    <li>Duration: <%= @trip.duration %></li>
    <li>Start Date: <%= @trip.start_date %> </li>
    <li>Start Station: <%= @trip.start_station %> </li>
    <li>End Date: <%= @trip.end_date %></li>
    <li>End Station: <%= @trip.end_station %></li>
    <li>Bike ID: <%= @trip.bike_id %> </li>
    <li>Subscription Type: <%= @trip.subscription_type %></li>
    <li>Zip Code: <%= @trip.zipcode %> </li>
  </section>
</ul>
