<%= erb :banner %>
<head><title>Trip <%= @trip.id %></title></head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/trips">Trips</a></li>
  <li><%= @trip.id %></li>
</ul>

<section class="dash-flex">
  <div class="dashboard-results">
    <ul>
    <li class = "trip_id">Trip <%= @trip.id %></li>
    <li>Duration: <%= @trip.duration %></li>
    <li>Start Date: <%= @trip.start_date %> </li>
    <li>Start Station: <%= @trip.start_station %> </li>
    <li>End Date: <%= @trip.end_date %></li>
    <li>End Station: <%= @trip.end_station %></li>
    <li>Bike ID: <%= @trip.bike_id %> </li>
    <li>Subscription Type: <%= @trip.subscription_type %></li>
    <li>Zip Code: <%= @trip.zipcode %> </li>
    <li><%= @trip.start_station_latitude %>,
    <%= @trip.start_station_longitude %></li>
    </ul>
  </div>
  <div id="map">
    <!-- <script>
    function initMap() {
      var uluru = {lat: <%= @trip.start_station_latitude %>, lng: <%= @trip.start_station_longitude %>};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 20,
        center: uluru,
      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
    }
    </script> -->
    <script>
    function initMap() {
      var stations = [
           ['Starting Station',
           {lat: <%= @trip.start_station_latitude %>,
           lng: <%= @trip.start_station_longitude %>}],
           ['Ending Station',
           {lat: <%= @trip.end_station_latitude %>,
           lng: <%= @trip.end_station_longitude %>}]
         ];

      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: stations[0][1]
         });

      var start = new google.maps.Marker({
             position: stations[0][1],
             map: map
           });

      var end = new google.maps.Marker({
           position: stations[1][1],
           map: map
         });

      start.setMap(map)
      end.setMap(map)
     }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPiZRNt7SNQqhm39Aug86hg9HXrTLBLZQ&callback=initMap">
    </script>
  </div>

</section>
  <form class="" action="/trips/<%= @trip.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input class="button inline-btn" type="submit" name="Delete" value="Delete">
  </form>
