<%= erb :banner %>

<head>
  <title>Trip <%= @trip.id %></title>
</head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/trips">Trips</a></li>
  <li><%= @trip.id %></li>
</ul>

<body class="trip-main">
  <div class="header">
    <h1 class="header-text"><%= @station.name %> in <%= @station.city %></h1>
  </div>
  <div class="trip-show">
    
  </div>
    <ul>
    <li>Trip <%= @trip.id %></li>
    <li>Duration: <%= @trip.duration %></li>
    <li>Start Date: <%= @trip.start_date %> </li>
    <li>Start Station: <%= @start_station.name %> </li>
    <li>End Date: <%= @trip.end_date %></li>
    <li>End Station: <%= @end_station.name %></li>
    <li>Bike ID: <%= @trip.bike_id %> </li>
    <li>Subscription Type: <%= @trip.subscription_type %></li>
    <li>Zip Code: <%= @trip.zipcode %> </li>

    </ul>
  </div>
  <div id="map">
    <script>
    function initMap() {
      var stations = [
           ['Starting Station',
           {lat: <%= @start_station.latitude %>,
           lng: <%= @start_station.longitude %>}],
           ['Ending Station',
           {lat: <%= @end_station.latitude %>,
           lng: <%= @end_station.longitude %>}]
         ];

      var map_center = {
        lat: ((stations[0][1]['lat'] + stations[1][1]['lat'])/2) ,
        lng: ((stations[0][1]['lng'] + stations[1][1]['lng'])/2)
      };

      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: map_center
         });

      var start = new google.maps.Marker({
             position: stations[0][1],
             map: map,
             title: stations[0][0]
           });

      var end = new google.maps.Marker({
           position: stations[1][1],
           map: map,
           title: stations[1][0]
         });

      start.setMap(map)
      end.setMap(map)
     }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPiZRNt7SNQqhm39Aug86hg9HXrTLBLZQ&callback=initMap">
    </script>
  </div>

</section>
  <form class="" action="/trips/<%= @trip.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input class="button inline-btn" type="submit" name="Delete" value="Delete">
  </form>
