<head>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<header>
  <h1>Edit station</h1>
</header>

<nav>
  <a href="/stations">Station Index</a>
</nav>

<form action="/stations/<%= @station.id %>" method="post">
  <input type="hidden" name="_method" value="PUT">
  Station Name <input type="text" name="station[name]" value="<%= @station.name %>"><br/>
  Station City <input type="text" name="station[city]" value="<%= @station.city %>"><br/>
  Number of Bike-Docks <input type="number" name="station[dock_count]" value="<%= @station.dock_count %>"><br/>
  Installation Date <input type="date" name="station[installation_date]" value="<%= @station.installation_date %>" data-date-inline-picker="true"><br/>
  <input type="submit">
</form>
