<%= erb :banner %>

<head>
  <title>All Stations</title>
</head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li>Stations</li>
</ul>

<a class="button" href="/stations/new">New Station</a>

<main class="flex-parent">
<% @stations.each do |station| %>
  <ul>
    <section class = "display_object">
    <li class = "station_name"><a href="/stations/<%= station.id %>"> <%= station.name %></a></li>
    <li class = "station_city"><%= station.city %>, CA</li>
    <img src ="/images/groot.gif"
    <li>Docks: <%= station.dock_count %></li>
    <li>Installation: <%= station.installation_date %></li>
  </section>
  </ul>
<% end %>
</main>
