<%= erb :'stations/banner' %>

<a class="new_button" href="/stations/new">New Station</a>

<% @stations.each do |station| %>
  <ul>
    <section class = "station">
    <li class = "station_name"><a href="/stations/<%= station.id %>"> <%= station.name %></a></li>
    <li class = "station_city"><%= station.city %>, CA</li>
    <li>Docks: <%= station.dock_count %></li>
    <li>Installation: <%= station.installation_date %></li>
  </section>
  </ul>
<% end %>
