<head>
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<header>
  <h1>Welcome to Bikeshare</h1>
</header>

<nav>
  <a href="/stations">Station Index</a>
</nav>

<% @stations.each do |station| %>
  <ul>
    <section class = "flex-parent">
    <li class = "station_name"><a href="/stations/<%= station.id %>"> <%= station.name %></a></li>
    <li class = "station_city"><%= station.city %>, CA</li>
    <li>Docks: <%= station.dock_count %></li>
    <li>Installation: <%= station.installation_date %></li>
  </section>
  </ul>
<% end %>
