<head>
  <!-- <link rel="stylesheet" type="text/css" href="/reset.css"> -->
  <link rel="stylesheet" type="text/css" href="/main.css">
</head>

<h1>Show Page</h1>
<ul>
  <li>Station Name-- <%= @station.name %></li>
  <li>Station City-- <%= @station.city %></li>
  <li>Dock Count-- <%= @station.dock_count %></li>
  <li>Installation Date-- <%= @station.installation_date %></li>
</ul>
<form class="" action="/stations/<%= @station.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="Submit" name="" value="Delete">
</form>
