<%= erb :banner %>
<head><title><%= @station.name %> Station</title></head>

<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="/stations">Stations</a></li>
  <li><%= @station.name %></li>
</ul>

<section class="dash-flex">
  <div class="dashboard-results">
    <ul>
    <li class="station_name"><%= @station.name %></li>
    <li class="station_city"><%= @station.city %>, CA</li>
    <li>Docks: <%= @station.dock_count %></li>
    <li>Installation Date: <%= @station.installation_date %></li>
    <br/>
    <li>Rides Started Here: ###</li>
    <li>Rides Ended Here: ###</li>
    <li>Most Frequent Destination: Station Name(link)</li>
    <li>Most Frequent Origin: Station Name(link)</li>
    <li>Most Popular Date: </li>
    <li>Most Common Rider Zipcode: </li>
    <li>Most Ridden Bike: </li>
    </ul>
  </div>
  <div id="map">
    <script>
    function initMap() {
      var uluru = {lat: <%= @station.latitude %>, lng: <%= @station.longitude %>};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 17,
        center: uluru,
      });
      var marker = new google.maps.Marker({
        position: uluru,
        map: map
      });
    }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPiZRNt7SNQqhm39Aug86hg9HXrTLBLZQ&callback=initMap">
    </script>
  </div>
</section>

<a  class="button" href="/stations/<%= @station.id %>/edit">Edit</a>
<form class="" action="/stations/<%= @station.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input class="button inline-btn" type="submit" name="Delete" value="Delete">
</form>
