<%= erb :banner %>
<head><title><%= @station.name %></title></head>


<nav class="crumbs">
  <a href="/">Home</a> /
  <a href="/stations">Stations</a> /
  <%= @station.name %>
</nav>

<ul>
  <li class="station_name"><%= @station.name %></li>
  <li class="station_city"><%= @station.city %>, CA</li>
  <li>Docks: <%= @station.dock_count %></li>
  <li>Installation Date: <%= @station.installation_date %></li>
</ul>
<a href="/stations/<%= @station.id %>/edit">Edit</a>
<form class="" action="/stations/<%= @station.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="Delete" value="Delete">
</form>
